<?xml version="1.0"?>
<launch>
    <arg name="enable_robot" default="-e"/>
    <arg name="joint" default="true"/>
    <arg name="remap" default="true"/>

    <arg name="rviz_config" default="$(find baxter_grasp)/launch/camera.rviz" />

    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

    <arg name="config" default="true" />
    <arg unless="$(arg config)" name="command_args" value="" />
    <arg     if="$(arg config)" name="command_args" value="-d $(arg rviz_config)" />
    
    <group>
        <include file="$(find baxter_grasp)/launch/baxter_start.launch">
            <arg name="enable_robot" value="$(arg enable_robot)" />
            <arg name="joint" value="$(arg joint)" />
            <arg name="remap" value="$(arg remap)"/>
        </include>
    </group>

        <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
        </include>
<!-- doesnt output file if runnning from here /-->
    	<!--node name="camera_streamer" pkg="baxter_grasp" type="camera_streamer.py" output="screen">
    	</node-->
    <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster"
        args="0 +0.035 0 0 0 0 right_gripper calib_frame 10" />
    <!--node name="camera_calibrate" pkg="baxter_grasp" type="camera_calibrator.py" output="screen">
    </node-->
    <node name="$(anon rviz)" launch-prefix="$(arg launch_prefix)" pkg="rviz" type="rviz" respawn="false"
	args="$(arg command_args)" output="screen">
    </node>
</launch>
